.filled svg {
	fill: var(--primary-color);
}

.star svg {
	margin-right: 5px;
}

.star {
	display: inline-block;
}

.editable {
	cursor: pointer;
}

.error svg {
	stroke: var(--red);
}

.ratingWrapper {
	position: relative;
}

.errorMessages {
	position: absolute;
	bottom: -20px;
	left: 0;
	color: var(--red);
}
